nav
{
    
    font-size: 1.1em;
    padding-left: 58%;
}
section{
	background: rgba(2, 2,2,0.2) ;
	color: white;
    padding-bottom: 1em;

}

nav ul li
{
    list-style: none;
    display: inline;
}
#Search{
    padding-top:1em;
    padding-left:87%;
     }
#Search input{
    background-color: #1F242A;
    border-radius: 15px;
    border-color: #1F242A;
    color: white;
}
a:hover
{
    
    color:black;
}
nav a
{color: white;
    text-decoration: none;
    padding: 0.25em;
      
}

header
{  
 width: 100% !important;
	height: 500px;
    background-image: url(foto.png);
    font-size: 100%;
}
header h2
{
    font-size: 180%;
}	

#desc 
{

    background-color: #E7E7E7;
   width: 99%;
   padding:0 0.5% 2% 0.5%;
   border-bottom: #DADADA solid 5px;
   color: black;
   display: inline-flex;
   padding-top: 2%;
}
#buton 
{
 background-color: black;
 color: white;
 border-radius: 5px;
border:0;
 -webkit-appearance:none;
 margin-right: % !important;
 width: 120%;
 padding: 7% 0 7% 0;
 margin-top: 12%;
 font-size: 120%;

}
#desc h3
{
    width: 70%;
    margin-right: 2.5%;
    font-size: 170%;
}
button#search
{
   width:13%;
   
}
.img
{
margin: 5%;
width: 30%
}
.icons
{
    background-color: white;
}
.img1
{
    margin: 5%;
    width: 80%;
    margin-bottom: 0%;
    
}
.table1{
    background-color: white;
    width: 100%;

}
#center
{
    text-align: center;
    background-color: white;
    color: black;
}
 
.wrap
{
    width: 80px;
    margin-top: 30px;
    margin: 0%;

   

}
.card
{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);

    
    width: 470px;
    background-color: white;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    margin: 10px;
    float: left;
  color: black;
}
.container
{
    padding: 2px 16px;
}
